.active {
  font-weight: bolder;
}
.navbar {
  a {
    color: black;
    text-decoration: none;
  }
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .navlinks {
    display: flex;
    div {
      margin: 0px 10px;
    }
  }
}
